
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

.grid-item-head, .grid-item-bottom {
    border: 1px solid silver;
    height: 16.5vh;
  }

.grid-item-main  {
    border: 1px solid silver;
    height: 33vh;
  }

img {
    height: 100px;
    width: 100px;
    margin: 5px;
    background: silver;
    border: 1px solid black;
}

.player {
  background: rgb(5, 5, 113);
}

.enemy {
    background: rgb(113, 5, 5);
}
#playerDiv h3 {
  margin: 5px;
  font-size: 25px;
  width: 100%;
}

ul {
  margin: 5px;
  float: left;
}

