* {
  color: rgb(199, 186, 7);
  text-shadow: 2px 2px #121213;
}

body {
  background-image: url("../images/background.png");
  background-color: #121213;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

.grid-item-head, .grid-item-bottom {
    height: 16.5vh;
  }

.grid-item-main  {
    height: 33vh;
  }

img {
    height: 100px;
    width: 100px;
    margin: 5px;
    background: silver;
    border: 1px solid black;
}

.player {
  background: rgb(5, 5, 113);
}

.enemy {
    background: rgb(113, 5, 5);
}

button {
  background: black;
}

#enemyDiv {
  padding-top: 30px;
}

#playerDiv h3 {
  margin: 5px;
  font-size: 25px;
  width: 100%;
}

ul {
  margin: 5px;
  float: left;
}

